body {
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.title {
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.instructions {
    background-color: #fff;
    color: #000000;
    padding: 10px;
    text-align: center;
}

.numberToGuess {
    background-color: green;
    color: #000;
    height: 145px;
    width: 200px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.winslosses {
    background-color: cyan;
    color: #000;
    height: 145px;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
}

.totalScore {
    background-color: teal;
    width: 300px;
    height: 150px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#totalScore {
    font-size: 50px;
}

.crystal {
    margin: 10px;
    border: none;
    background: none;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}